* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

header {
  background-image: linear-gradient(#111, #333);
  background-image: url('../img/header.jpg');
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  text-align: center;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

header img {
  height: 50px;
}

main {
  display: block;
  width: 900px;
  background-color: rgb(216,207,146);
  margin: 70px auto 10px auto;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-size: 0.8em;
  padding: 10px !important;
}

main::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

main span {
  font-size: 1.2em;
  font-weight: bold;
}

a {
  color: #f44336 !important;
}

main campos {
  display: inline-block;
}

main campos::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

main campos subcampos {
  display: inline-block;
  text-align: left;
}

main campos subcampos::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

main campos span {
  font-size: 0.9em;
  font-weight: bold;
  display: block;
  float: left;
  line-height: 30px;
}

main campos span:nth-child(3) {
  margin-left: 10px;
}

main campos span:nth-child(5) {
  margin-left: 10px;
}

main campos span:nth-child(7) {
  margin-left: 10px;
}

main campos span:nth-child(9) {
  margin-left: 10px;
}

main campos span:nth-child(11) {
  margin-left: 10px;
}

main campos subcampos {
  margin-left: 10px;
}

main campos subcampos select#bonus-escolhido {
  margin-left: 15px;
}

main campos subcampos br:nth-child(3) {
  clear: both;
  display: block;
  float: left;
  line-height: 8px;
}

main campos subcampos span:nth-child(4) {
  opacity: 0;
}

main campos subcampos select:nth-child(5) {
  opacity: 0;
}

main campos input[type=checkbox] {
  height: 27px;
  display: block;
  float: left;
  margin-right: 3px;
}

main campos select {
  height: 26px;
  display: block;
  float: left;
  margin-left: 5px;
  font-size: 0.9em;
}

main campos select.number {
  width: 50px;
}

main campos > button {
  padding-right: 7px;
  padding-left: 5px;
  margin-right: 5px;
  margin-left: 0;

  box-sizing: border-box;
  display: inline-block;
}

main campos.botoes {
  width: 100%;
  text-align: right;
}

main campos > div.salvando {
  padding-right: 5px;
  padding-left: 7px;
  margin-right: 5px;
  margin-left: 0;

  box-sizing: border-box;
  display: inline-block;
  background-color: #e57373;
}

.invisivel {
  display: none !important;
}

div#carregando {
  opacity: 0.7;
  background-color: #ffffff;
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

main campos > button {
  background-color: #9fa8da;
}

main campos > button:hover {
  background-color: #7986cb;
}

main campos > button.vermelho {
  background-color: #ef5350;
}

main campos > button.vermelho:hover {
  background-color: #f44336;
}

main campos > button.desabilitado {
  background-color: #b0bec5;
}

main campos > button.desabilitado > img {
  opacity: 0.5;
}

main campos > button.desabilitado:hover {
  background-color: #b0bec5;
}

main campos > button > span {
  display: block;
  float: left;
  line-height: 26px;
  font-size: 0.9em;
  margin-left: 2px;
  margin-right: 5px;
}

main campos > div.salvando > span {
  display: block;
  float: left;
  line-height: 26px;
  font-size: 0.9em;
  margin-right: 3px;
}

main campos > button > img, main campos > div.salvando > img {
  display: block;
  float: left;
  margin-top: 4px;
  margin-left: 5px;
  margin-right: 2px;
  height: 18px;
}

main campos > button#bt-salvar-personagem > img, main campos > div.salvando > img {
  display: block;
  float: left;
  margin-top: 1px;
  margin-left: 3px;
  margin-right: 2px;
  height: 24px;
}

main campos > button::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}

@media print {
  header {
    display: none;
  }
  main {
    display: none;
  }

  div#ficha > div > table > tbody > tr:nth-child(6) > td:nth-child(2) > table > tbody > tr:nth-child(odd) {
    background-color: rgba(240,240,240) !important;
    -webkit-print-color-adjust: exact !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(7) > td:nth-child(2) > table > tbody > tr:nth-child(odd) {
    background-color: rgba(240,240,240) !important;
    -webkit-print-color-adjust: exact !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(9) > td:nth-child(2) > table > tbody > tr:nth-child(odd) {
    background-color: rgba(240,240,240) !important;
    -webkit-print-color-adjust: exact !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(10) > td:nth-child(2) > table > tbody > tr:nth-child(odd) {
    background-color: rgba(240,240,240) !important;
    -webkit-print-color-adjust: exact !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(11) > td:nth-child(2) > table > tbody > tr:nth-child(odd) {
    background-color: rgba(240,240,240) !important;
    -webkit-print-color-adjust: exact !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(12) > td:nth-child(2) > table > tbody > tr:nth-child(odd) {
    background-color: rgba(240,240,240) !important;
    -webkit-print-color-adjust: exact !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(13) > td:nth-child(2) > table > tbody > tr:nth-child(odd) {
    background-color: rgba(240,240,240) !important;
    -webkit-print-color-adjust: exact !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(14) > td:nth-child(2) > table > tbody > tr:nth-child(odd) {
    background-color: rgba(240,240,240) !important;
    -webkit-print-color-adjust: exact !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(15) > td:nth-child(2) > table > tbody > tr:nth-child(odd) {
    background-color: rgba(240,240,240) !important;
    -webkit-print-color-adjust: exact !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(16) > td:nth-child(2) > table > tbody > tr:nth-child(odd) {
    background-color: rgba(240,240,240) !important;
    -webkit-print-color-adjust: exact !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(17) > td:nth-child(2) > table > tbody > tr:nth-child(odd) {
    background-color: rgba(240,240,240) !important;
    -webkit-print-color-adjust: exact !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(18) > td:nth-child(2) > table > tbody > tr:nth-child(odd) {
    background-color: rgba(240,240,240) !important;
    -webkit-print-color-adjust: exact !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(19) > td:nth-child(2) > table > tbody > tr:nth-child(odd) {
    background-color: rgba(240,240,240) !important;
    -webkit-print-color-adjust: exact !important;
  }

  div#ficha > div > table > tbody > tr:nth-child(20) > td:nth-child(2) > table > tbody > tr:nth-child(odd) {
    background-color: rgba(240,240,240) !important;
    -webkit-print-color-adjust: exact !important;
  }
}
