main.batepapo span.grande {
  width: 120px;
  line-height: 120px;
}

main.batepapo span.fellowship {
  font-size: 60px;
  top: -8px;
  left: 898px;
}

main.batepapo div.frame {
  position: absolute;
  width: 800px;
  height: 380px;
  z-index: 2;
}

main.batepapo div.frame-nirah {
  top: 226px;
  left: 1px;
}   

main.batepapo div.frame-idril {
  top: 668px;
  left: 1234px;
}

main.batepapo div.frame-torteck {
  top: 668px;
  left: 1px;
}

main.batepapo div.frame-bravos {
  top: 227px;
  left: 1234px;
}

main.batepapo span.pequena {
  width: 80px;
  line-height: 80px;
  font-size: 50px;
}

main.batepapo span.endurance {
  top: 5px;
  left: 581px;
}

main.batepapo span.hope {
  top: 121px;
  left: 581px;
}

main.batepapo span.shadow {
  top: 237px;
  left: 581px;
}

main.batepapo img.status {
  display: block;
  position: absolute;
  width: 50px;
}

main.batepapo img.exausto {
  top: 86px;
  left: 540px;
}

main.batepapo img.abatido {
  top: 210px;
  left: 540px;
}

main.batepapo img.ferido {
  top: 110px;
  left: 28px;
}

main.batepapo div.frame-tempo {
  position: absolute;
  width: 420px; /* maximo: 765px */
  /* height: 379px;  maximo: 379px */
  z-index: 4;

  left: 1326px;
  top: 20px;
}

main.batepapo img.frame-tempo-front {
  position: absolute;
  display: block;
  max-width: 100%;
  z-index: 6;
}

main.batepapo img.frame-tempo-icons {
  position: absolute;
  max-width: 100%;
  z-index: 4;
}

main.batepapo span.frame-tempo-momento-dia {
  position: absolute;
  display: block;
  top: 92px;
  left: 50px;
  width: 110px;
  line-height: 47px;

  font-size: 20px;
  z-index: 7;
}

main.batepapo span.frame-tempo-condicao {
  position: absolute;
  display: block;
  top: 125px;
  left: 30px;
  width: 160px;
  line-height: 47px;

  font-size: 14px;
  z-index: 7;
}

main.batepapo span.frame-tempo-estacao-info {
  position: absolute;
  display: block;
  top: 125px;
  left: 234px;
  width: 160px;
  line-height: 47px;

  font-size: 14px;
  z-index: 7;
}

main.batepapo span.frame-tempo-estacao {
  position: absolute;
  display: block;
  top: 96px;
  left: 260px;
  width: 110px;
  line-height: 47px;

  font-size: 25px;
  z-index: 7;
}

main.batepapo span.frame-tempo-dados {
  position: absolute;
  display: block;
  top: 152px;
  left: 0;
  width: 100%;

  font-size: 28px;
  z-index: 7;
}

main.batepapo img.frame-tempo-rotacionar {
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    margin: 70px auto 0 auto;
    padding-left: 1px;

    -webkit-animation:spin 30s linear infinite;
    -moz-animation:spin 30s linear infinite;
    animation:spin 30s linear infinite;
    z-index: 7;
}

main.batepapo img.frame-tempo-icons-frente {
  z-index: 5;
}
