main.personagens span.grande {
  width: 70px;
  line-height: 70px;
}

main.personagens span.fellowship {
  font-size: 50px;
  top: 2px;
  left: 1650px;
}

main.personagens div.frame {
  position: absolute;
  width: 500px;
  height: 260px;
  z-index: 2;
}

main.personagens div.frame-nirah {
  top: 760px;
  left: 1372px;
}

main.personagens div.frame-idril {
  top: 758px;
  left: -16px;
}

main.personagens div.frame-torteck {
  top: 760px;
  left: 854px;
}

main.personagens div.frame-bravos {
  top: 52px;
  left: 564px;
}

main.personagens span.pequena {
  width: 60px;
  line-height: 60px;
  font-size: 36px;
}

main.personagens span.endurance {
  top: -4px;
  left: 470px;
}

main.personagens span.hope {
  top: 86px;
  left: 470px;
}

main.personagens span.shadow {
  top: 176px;
  left: 470px;
}

main.personagens img.status {
  display: block;
  position: absolute;
  width: 44px;
}

main.personagens img.exausto {
  top: 54px;
  left: 436px;
}

main.personagens img.abatido {
  top: 141px;
  left: 436px;
}

main.personagens img.ferido {
  top: 68px;
  left: 28px;
}

main.personagens div.frame-tempo {
  position: absolute;
  width: 374px; /* maximo: 765px */
  /* height: 379px;  maximo: 379px */
  z-index: 4;

  left: 1098px;
  top: 76px;
}

main.personagens img.frame-tempo-front {
  position: absolute;
  display: block;
  max-width: 100%;
  z-index: 6;
}

main.personagens img.frame-tempo-icons {
  position: absolute;
  max-width: 100%;
  z-index: 4;
}

main.personagens span.frame-tempo-momento-dia {
  position: absolute;
  display: block;
  top: 78px;
  left: 40px;
  width: 110px;
  line-height: 47px;

  font-size: 16px;
  z-index: 7;
}

main.personagens span.frame-tempo-condicao {
  position: absolute;
  display: block;
  top: 110px;
  left: 18px;
  width: 160px;
  line-height: 47px;

  font-size: 14px;
  z-index: 7;
}

main.personagens span.frame-tempo-estacao-info {
  position: absolute;
  display: block;
  top: 110px;
  left: 202px;
  width: 160px;
  line-height: 47px;

  font-size: 14px;
  z-index: 7;
}

main.personagens span.frame-tempo-estacao {
  position: absolute;
  display: block;
  top: 83px;
  left: 228px;
  width: 110px;
  line-height: 47px;

  font-size: 25px;
  z-index: 7;
}

main.personagens span.frame-tempo-dados {
  position: absolute;
  display: block;
  top: 138px;
  left: 0;
  width: 100%;

  font-size: 24px;
  z-index: 7;
}

main.personagens img.frame-tempo-rotacionar {
    position: relative;
    display: block;
    width: 76px;
    height: 76px;
    margin: 66px auto 0 auto;
    padding-left: 1px;

    -webkit-animation:spin 30s linear infinite;
    -moz-animation:spin 30s linear infinite;
    animation:spin 30s linear infinite;
    z-index: 7;
}

main.personagens img.frame-tempo-icons-frente {
  z-index: 5;
}
