main.solo span.grande {
  width: 70px;
  line-height: 70px;
}

main.solo span.fellowship {
  font-size: 44px;
  top: 9px;
  left: 184px;
}

main.solo div.frame {
  position: absolute;
  width: 580px;
  height: 300px;
  z-index: 2;
}

main.solo div.frame-nirah {
  top: 386px;
  left: 1382px;
}

main.solo div.frame-idril {
  top: 766px;
  left: -28px;
}

main.solo div.frame-torteck {
  top: 39px;
  left: 1382px;
}

main.solo div.frame-bravos {
  top: 422px;
  left: -26px;
}

main.solo span.pequena {
  width: 60px;
  line-height: 60px;
  font-size: 38px;
}

main.solo span.endurance {
  top: 0;
  left: 469px;
}

main.solo span.hope {
  top: 91px;
  left: 468px;
}

main.solo span.shadow {
  top: 180px;
  left: 469px;
}

main.solo img.status {
  display: block;
  position: absolute;
  width: 40px;
}

main.solo img.exausto {
  top: 62px;
  left: 426px;
}

main.solo img.abatido {
  top: 155px;
  left: 426px;
}

main.solo img.ferido {
  top: 76px;
  left: 28px;
}

main.solo div.frame-tempo {
  position: absolute;
  width: 374px; /* maximo: 765px */
  /* height: 379px;  maximo: 379px */
  z-index: 4;

  left: 1080px;
  top: 610px;
}

main.solo img.frame-tempo-front {
  position: absolute;
  display: block;
  max-width: 100%;
  z-index: 6;
}

main.solo img.frame-tempo-icons {
  position: absolute;
  max-width: 100%;
  z-index: 4;
}

main.solo span.frame-tempo-momento-dia {
  position: absolute;
  display: block;
  top: 78px;
  left: 40px;
  width: 110px;
  line-height: 47px;

  font-size: 16px;
  z-index: 7;
}

main.solo span.frame-tempo-condicao {
  position: absolute;
  display: block;
  top: 110px;
  left: 18px;
  width: 160px;
  line-height: 47px;

  font-size: 14px;
  z-index: 7;
}

main.solo span.frame-tempo-estacao-info {
  position: absolute;
  display: block;
  top: 110px;
  left: 202px;
  width: 160px;
  line-height: 47px;

  font-size: 14px;
  z-index: 7;
}

main.solo span.frame-tempo-estacao {
  position: absolute;
  display: block;
  top: 83px;
  left: 228px;
  width: 110px;
  line-height: 47px;

  font-size: 25px;
  z-index: 7;
}

main.solo span.frame-tempo-dados {
  position: absolute;
  display: block;
  top: 138px;
  left: 0;
  width: 100%;

  font-size: 24px;
  z-index: 7;
}

main.solo img.frame-tempo-rotacionar {
    position: relative;
    display: block;
    width: 76px;
    height: 76px;
    margin: 66px auto 0 auto;
    padding-left: 1px;

    -webkit-animation:spin 30s linear infinite;
    -moz-animation:spin 30s linear infinite;
    animation:spin 30s linear infinite;
    z-index: 7;
}

main.solo img.frame-tempo-icons-frente {
  z-index: 5;
}
